body {
  margin: 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/********TOP-BAR********/

.top-bar {
  background: white;
  height: 50px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-input {
  width: 200px;
}

textarea {
  background-color: #f5f8fa;
  border-radius: 7px;
  padding: 5px;
  margin-bottom: 2px;
}

input {
  background-color: #f5f8fa;
  border-radius: 7px;
  padding: 5px;
  margin-bottom: 2px;
}
ul {
  list-style-type: none;
  display: flex;
}

li {
  margin: 10px;
}

/********Profile********/

.profile {
  height: 400px;
  display: flex;
  justify-content: space-around;
  background-color: #1fa1f3;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/********FOLLOW-BAR********/

.container-menu {
  margin: 0px 150px;
}

.menu-bar {
  display: flex;
  justify-content: space-around;
}

button {
  margin-top: 25px;
  border-color: #1b95e0;
  color: #1b95e0;
  font-size: 1.2rem;
  border-radius: 7px;
  padding: 0px 20px;
}

/********Tweet Form********/

.tweet-form {
  display: flex;
  justify-content: space-around;
}

/********Tweets********/

.container-segments {
  background-color: #e7ecef;
  display: flex;
  justify-content: space-around;
  height: 800px;
}

.tweet {
  width: 500px;
  background-color: white;
  display: flex;
  margin: 5px;
  border-radius: 4px;
}

.img-tweet {
  height: 50px;
  width: 50px;
  margin: 5px;
}
